<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.projectusus.autotestsuite.core.internal.ExtendedJUnitLaunchConfigurationDelegate"
            id="org.projectusus.autotestsuite.ExtendedJUnitLaunchConfiguration"
            modes="run,debug"
            name="All Tests Suite (JUnit)"
            sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
            sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.projectusus.autotestsuite.ExtendedJUnitLaunchConfiguration"
            icon="icons/obj16/launch.gif"
            id="org.projectusus.autotestsuite.ExtendedJUnitLaunchConfiguration.image">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.projectusus.autotestsuite.ui.internal.ExtendedJUnitTabGroup"
            id="org.projectusus.autotestsuite.ui.internal.ExtendedJUnitTabGroup"
            type="org.projectusus.autotestsuite.ExtendedJUnitLaunchConfiguration">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="org.projectusus.autotestsuite.ui.internal.shortcuts.ExtendedJUnitLaunchShortcut"
            icon="icons/obj16/launch.gif"
            id="org.projectusus.autotestsuite.ui.internal.shortcuts.ExtendedJUnitLaunchShortcut"
            label="All Tests Suite (JUnit)"
            modes="run, debug">
         <contextualLaunch>
            <enablement>
               <with variable="selection">
                  <count value="1" />
                  <iterate>
                     <adapt
                           type="org.eclipse.jdt.core.IJavaProject">
                        <test
                              property="org.eclipse.jdt.core.isInJavaProject">
                        </test>
                        <test
                              property="org.eclipse.jdt.core.hasTypeOnClasspath"
                              value="junit.framework.Test">
                        </test>
                        <test
                              forcePluginActivation="true"
                              property="org.eclipse.jdt.junit.canLaunchAsJUnit">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
         <configurationType
               id="org.projectusus.autotestsuite.ExtendedJUnitLaunchConfiguration">
         </configurationType>
         <description
               description="Runs all unit tests in the selected project and all required projects"
               mode="run">
         </description>
         <description
               description="Debugs all unit tests in the selected project and all required projects"
               mode="debug">
         </description>
      </shortcut>
      <shortcut
            class="org.projectusus.autotestsuite.ui.internal.shortcuts.MultiProjectJUnitLaunchShortcut"
            icon="icons/obj16/julaunch.gif"
            id="org.projectusus.autotestsuite.ui.internal.shortcuts.MultiProjectJUnitLaunchShortcut"
            label="JUnit Test"
            modes="run, debug">
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="(1-">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.jdt.core.IJavaProject">
                        <test
                              property="org.eclipse.jdt.core.isInJavaProject">
                        </test>
                        <test
                              property="org.eclipse.jdt.core.hasTypeOnClasspath"
                              value="junit.framework.Test">
                        </test>
                        <test
                              forcePluginActivation="true"
                              property="org.eclipse.jdt.junit.canLaunchAsJUnit">
                        </test>
                     </adapt>
                  </iterate>
                  <test
                        forcePluginActivation="true"
                        property="org.projectusus.autotestsuite.haveCommonDependencyRoot">
                  </test>
               </with>
            </enablement>
         </contextualLaunch>
         <configurationType
               id="org.projectusus.autotestsuite.ExtendedJUnitLaunchConfiguration">
         </configurationType>
         <description
               description="Debugs all JUnit tests in selected projects"
               mode="debug">
         </description>
         <description
               description="Runs all JUnit tests in selected projects"
               mode="run">
         </description>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.projectusus.autotestsuite.ui.internal.shortcuts.MultiProjectJUnitPropertyTester"
            id="org.projectusus.autotestsuite.ui.internal.shortcuts.MultiProjectJUnitPropertyTester"
            namespace="org.projectusus.autotestsuite"
            properties="haveCommonDependencyRoot"
            type="java.util.List">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.projectusus.autotestsuite.ui.internal.shortcuts.MultiProjectJUnitLaunchShortcut.debug"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M3+D U">
      </key>
      <key
            platform="carbon"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M3+D U">
      </key>
      <key
            commandId="org.projectusus.autotestsuite.ui.internal.shortcuts.MultiProjectJUnitLaunchShortcut.debug"
            platform="carbon"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+M4+D U">
      </key>
      <key
            commandId="org.projectusus.autotestsuite.ui.internal.shortcuts.MultiProjectJUnitLaunchShortcut.run"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M3+X U">
      </key>
      <key
            platform="carbon"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M3+X U">
      </key>
      <key
            commandId="org.projectusus.autotestsuite.ui.internal.shortcuts.MultiProjectJUnitLaunchShortcut.run"
            platform="carbon"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+X U">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.debug.ui.category.run"
            description="Run all JUnit tests in selected projects"
            id="org.projectusus.autotestsuite.ui.internal.shortcuts.MultiProjectJUnitLaunchShortcut.run"
            name="Run JUnit Test">
      </command>
      <command
            categoryId="org.eclipse.debug.ui.category.run"
            description="Debug all unit tests in selected projects"
            id="org.projectusus.autotestsuite.ui.internal.shortcuts.MultiProjectJUnitLaunchShortcut.debug"
            name="Debug JUnit Test">
      </command>
   </extension>
</plugin>
