<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <!-- TODO lf doesn't do anything useful yet -->
   <!--extension point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            id="org.projectusus.autotestsuite.ui.autoTestSuite"
            name="Automatic Test Suite"
            delegateDescription="Collects all unit tests and runs them all at once"
            delegate="org.projectusus.autotestsuite.ui.internal.launcher.AutoTestSuiteLaunchConfigurationDelegate"
            delegateName="Automatic Test Suite"
            modes="run, debug"
            sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
            sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer" />
   </extension-->
   <!--extension
         point="org.eclipse.debug.core.launchConfigurationComparators">
      <launchConfigurationComparator
            attribute="org.eclipse.jdt.junit.CONTAINER"
            class="org.eclipse.jdt.internal.junit.launcher.ContainerComparator"
            id="org.eclipse.jdt.junit.containerComparator">
      </launchConfigurationComparator>
   </extension-->
   <!-- TODO lf doesn't do anything useful yet -->
   <!--extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            icon="/icons/obj16/launch.gif"
            configTypeID="org.projectusus.autotestsuite.ui.autoTestSuite"
            id="org.projectusus.autotestsuite.ui.autoTestSuite.launchimage" />
   </extension-->
   <!-- TODO lf what about coverage mode? -->
   <!-- TODO lf doesn't do anything useful yet -->
   <!--extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            type="org.projectusus.autotestsuite.ui.autoTestSuite"
            class="org.projectusus.autotestsuite.ui.internal.tabgroup.AutoTestSuiteTabGroup"
            id="org.projectusus.autotestsuite.ui.internal.tabgroup.AutoTestSuiteTabGroup">
         <launchMode
               perspective="org.eclipse.debug.ui.DebugPerspective"
               description="Run automatic test suite in Debugger"
               mode="debug" />
         <launchMode
               description="Run automatic test suite"
               mode="run" />
      </launchConfigurationTabGroup>
   </extension-->
   
   <!-- test case collection visualization -->
   <extension point="org.eclipse.ui.views">
      <view category="org.projectusus.ui.viewCategory"
            class="org.projectusus.autotestsuite.ui.internal.view.TestCaseAnalysisView"
            icon="icons/obj16/launch.gif"
            id="org.projectusus.autotestsuite.ui.internal.view.TestCaseAnalysisView"
            name="Test Case Analysis"/>
   </extension>
   <extension point="org.eclipse.ui.viewActions">
      <viewContribution
            id="org.projectusus.autotestsuite.ui.internal.view.TestCaseAnalysisView.action"
            targetID="org.projectusus.autotestsuite.ui.internal.view.TestCaseAnalysisView">
         <action
               class="org.projectusus.autotestsuite.ui.internal.view.action.Refresh"
               icon="icons/elcl16/refresh.gif"
               id="org.projectusus.autotestsuite.ui.internal.view.action.Refresh"
               label="Refresh"
               menubarPath="additions"
               style="push"
               toolbarPath="additions"/>
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.projectusus.autotestsuite.launch.ExtendedJUnitLaunchConfigurationDelegate"
            id="org.projectusus.autotestsuite.launch.ExtendedJUnitLaunchConfiguration"
            modes="run,debug"
            name="Extended JUnit"
            sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
            sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.projectusus.autotestsuite.launch.ExtendedJUnitLaunchConfiguration"
            icon="icons/obj16/launch.gif"
            id="org.projectusus.autotestsuite.launch.ExtendedJUnitLaunchConfiguration.image">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.projectusus.autotestsuite.launch.ExtendedJUnitTabGroup"
            id="org.projectusus.autotestsuite.launch.ExtendedJUnitLaunchConfiguration.tabGroup"
            type="org.projectusus.autotestsuite.launch.ExtendedJUnitLaunchConfiguration">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="org.projectusus.autotestsuite.launch.ExtendedJUnitLaunchShortcut"
            icon="icons/obj16/launch.gif"
            id="org.projectusus.autotestsuite.launch.ExtendedJUnitLaunchConfiguration.shortcut"
            label="Extended JUnit Test"
            modes="run, debug">
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.jdt.core.IJavaProject">
                        <test
                              property="org.eclipse.jdt.core.isInJavaProject">
                        </test>
                        <test
                              property="org.eclipse.jdt.core.hasTypeOnClasspath"
                              value="junit.framework.Test">
                        </test>
                        <test
                              forcePluginActivation="true"
                              property="org.eclipse.jdt.junit.canLaunchAsJUnit">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
         <configurationType
               id="org.projectusus.autotestsuite.launch.ExtendedJUnitLaunchConfiguration">
         </configurationType>
         <description
               description="Runs all unit tests in the selected project and all required projects"
               mode="run">
         </description>
         <description
               description="Debugs all unit tests in the selected project and all required projects"
               mode="debug">
         </description>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.projectusus.autotestsuite.ui.objectContribution1"
            objectClass="org.eclipse.jdt.core.IJavaProject">
         <action
               class="org.projectusus.autotestsuite.ui.RunTestsInSelectedProjects"
               enablesFor="+"
               id="org.projectusus.autotestsuite.ui.RunTestsInSelectedProjects"
               label="Run Tests In Selected Projects">
         </action>
      </objectContribution>
   </extension>
</plugin>
