<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!-- Copyright (c) 2009 by USUS contributors -->
<plugin>
   <!-- Perspective and Views -->
   <extension point="org.eclipse.ui.perspectives">
      <perspective
            id="org.projectusus.ui.internal.perspective.USUSPerspective"
            icon="icons/full/eview16/usus.gif"
            class="org.projectusus.ui.internal.perspective.USUSPerspective"
            name="%perspective_name"/>
   </extension>
   <extension point="org.eclipse.ui.views">
      <category
            id="org.projectusus.ui.viewCategory"
            name="%viewCategory_name"/>
      <view class="org.projectusus.ui.internal.yellowcount.YellowCountView"
            icon="icons/full/eview16/yellowcount.gif"
            id="org.projectusus.ui.internal.yellowcount.YellowCountView"
            category="org.projectusus.ui.viewCategory"
            name="%yellowcount_view_name"/>
      <view class="org.projectusus.ui.internal.proportions.CockpitView"
            icon="icons/full/eview16/cockpit.gif"
            id="org.projectusus.ui.internal.proportions.CockpitView"
            category="org.projectusus.ui.viewCategory"
            name="%cockpit_view_name"/>
      <view class="org.projectusus.ui.internal.hotspots.HotSpotsView"
            icon="icons/full/eview16/hotspots.gif"
            id="org.projectusus.ui.internal.hotspots.HotSpotsView"
            category="org.projectusus.ui.viewCategory"
            name="%hotspots_view_name"/>
      <view class="org.projectusus.ui.internal.history.HistoryView"
            icon="icons/full/eview16/history.gif"
            id="org.projectusus.ui.internal.history.HistoryView"
            category="org.projectusus.ui.viewCategory"
            name="%history_view_name"/>
      <view class="org.projectusus.ui.internal.coveredprojects.CoveredProjectsView"
            icon="icons/full/eview16/coveredprojects.gif"
            id="org.projectusus.ui.internal.coveredprojects.CoveredProjectsView"
            category="org.projectusus.ui.viewCategory"
            name="%coveredprojects_view_name"/>
      <view
            category="org.projectusus.ui.viewCategory"
            class="org.projectusus.ui.internal.bugreport.BugsView"
            icon="icons/full/eview16/bug.gif"
            id="org.projectusus.ui.bugreport.bugsView"
            name="%bugs_view">
      </view>
      <view
            category="org.projectusus.ui.viewCategory"
            class="org.projectusus.ui.internal.bugreport.AverageCodeProportionsView"
            icon="icons/full/eview16/bug.gif"
            id="org.projectusus.ui.bugreport.averageCodeProportionsView"
            name="%average_code_proportions_view">
      </view>
   </extension>
   <!-- register page book pages for model objects -->
   <extension point="org.eclipse.core.runtime.adapters">
       <factory
             adaptableType="org.projectusus.core.internal.proportions.model.CodeProportion"
             class="org.projectusus.ui.internal.hotspots.PageFactory">
          <adapter type="org.projectusus.ui.internal.hotspots.pages.IHotspotsPage" />
       </factory>
   </extension>
   <!-- view actions --> 
   <extension point="org.eclipse.ui.viewActions">
      <viewContribution
            id="org.projectusus.ui.internal.proportions.CockpitView.ViewContribution"
            targetID="org.projectusus.ui.internal.proportions.CockpitView">
         <action
               class="org.projectusus.ui.internal.proportions.actions.RefreshCockpit"
               icon="icons/full/elcl16/refresh.gif"
               id="org.projectusus.ui.internal.proportions.actions.RefreshCockpit"
               label="%refreshCockpit_label"
               style="push"
               toolbarPath="additions"
               tooltip="%refreshCockpit_tooltip"/>
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="org.projectusus.ui.bugreport.javaEditorContribution"
            targetID="#CompilationUnitEditorContext">
         <action
               class="org.projectusus.ui.internal.bugreport.ReportBugAction"
               icon="icons/full/elcl16/report_bug.gif"
               id="org.projectusus.ui.bugreport"
               label="%report_bug"
               menubarPath="additions">
         </action>
      </viewerContribution>
      <objectContribution
            adaptable="false"
            id="org.projectusus.ui.bugreport.reportBugForMethod"
            objectClass="org.eclipse.jdt.core.IMethod">
      </objectContribution>
   </extension>
   <extension point="org.projectusus.core.testSuiteSelectors">
      <selector class="org.projectusus.ui.internal.coveredprojects.TestSuiteSelector"/>
   </extension>
   <extension point="org.eclipse.jdt.ui.javaEditorTextHovers">
      <hover activate="false"
             label="%codeProportionsTextHover_label"
             description="%codeProportionsTextHover_desc"
             class="org.projectusus.ui.internal.proportions.hover.CodeProportionsTextHover"
             id="org.projectusus.ui.internal.proportions.hover.CodeProportionsTextHover">
      </hover>
   </extension>
</plugin>
