<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!-- Copyright (c) 2009-2010 by USUS contributors -->
<plugin>
   <!-- Perspective and Views -->
   <extension point="org.eclipse.ui.perspectives">
      <perspective
            id="org.projectusus.ui.internal.perspective.USUSPerspective"
            icon="icons/full/eview16/usus.gif"
            class="org.projectusus.ui.internal.perspective.USUSPerspective"
            name="Project Usus"/>
   </extension>
   <extension point="org.eclipse.ui.views">
      <category
            id="org.projectusus.ui.viewCategory"
            name="Project Usus"/>
      <view class="org.projectusus.ui.internal.yellowcount.YellowCountView"
            icon="icons/full/eview16/yellowcount.gif"
            id="org.projectusus.ui.internal.yellowcount.YellowCountView"
            category="org.projectusus.ui.viewCategory"
            name="Yellow Count"/>
      <view class="org.projectusus.ui.internal.proportions.cockpit.CockpitView"
            icon="icons/full/eview16/cockpit.gif"
            id="org.projectusus.ui.internal.proportions.cockpit.CockpitView"
            category="org.projectusus.ui.viewCategory"
            name="Usus Cockpit"/>
      <view class="org.projectusus.ui.internal.hotspots.HotSpotsView"
            icon="icons/full/eview16/hotspots.gif"
            id="org.projectusus.ui.internal.hotspots.HotSpotsView"
            category="org.projectusus.ui.viewCategory"
            name="Usus Hotspots"/>
      <view class="org.projectusus.ui.internal.coveredprojects.CoveredProjectsView"
            icon="icons/full/eview16/coveredprojects.gif"
            id="org.projectusus.ui.internal.coveredprojects.CoveredProjectsView"
            category="org.projectusus.ui.viewCategory"
            name="Projects covered by Usus"/>
   </extension>
   <!-- register page book pages for model objects -->
   <extension point="org.eclipse.core.runtime.adapters">
       <factory
             adaptableType="org.projectusus.core.basis.CodeProportion"
             class="org.projectusus.ui.internal.hotspots.PageFactory">
          <adapter type="org.projectusus.ui.internal.hotspots.pages.IHotspotsPage" />
       </factory>
   </extension>
   <!-- view actions --> 
   <extension point="org.eclipse.ui.viewActions">
      <viewContribution
            id="org.projectusus.ui.internal.viewContribution_CockpitView"
            targetID="org.projectusus.ui.internal.proportions.cockpit.CockpitView">
         <action
               class="org.projectusus.ui.internal.proportions.actions.RefreshCockpit"
               icon="icons/full/elcl16/refresh.gif"
               id="org.projectusus.ui.internal.proportions.actions.RefreshCockpit"
               label="Refresh"
               menubarPath="additions"
               style="push"
               toolbarPath="additions"
               tooltip="Run proportions analysis over the workspace and refresh the data shown on this view."/>
         <action
               class="org.projectusus.ui.internal.proportions.actions.TakeSnapshot"
               icon="icons/full/elcl16/snapshot.gif"
               id="org.projectusus.ui.internal.proportions.actions.TakeSnapshot"
               label="Snapshot"
               menubarPath="additions"
               style="push"
               toolbarPath="additions"
               tooltip="Save the current values in a snapshot "/>
      </viewContribution>
   </extension>
   <!-- editor actions -->
   <extension point="org.eclipse.ui.commands">
      <category 
            id="org.projectusus.ui.commandCategory"
            name="Project Usus" />
      <command
            id="org.projectusus.ui.internal.proportions.infopresenter.ShowUsusInfo"
            name="Show Info"
            categoryId="org.projectusus.ui.commandCategory"/>
   </extension>
   <extension point="org.eclipse.ui.handlers">
      <handler
            class="org.projectusus.ui.internal.proportions.infopresenter.ShowUsusInfo"
            commandId="org.projectusus.ui.internal.proportions.infopresenter.ShowUsusInfo" />
   </extension>
   <extension point="org.eclipse.ui.menus">
      <menuContribution locationURI="popup:#CompilationUnitEditorContext">
         <command commandId="org.projectusus.ui.internal.proportions.infopresenter.ShowUsusInfo" />
      </menuContribution>
   </extension>
   <extension point="org.eclipse.ui.bindings">
      <!--  win32:  M1=CTRL,    M2=SHIFT, M3=ALT, M4=-
            carbon: M1=COMMAND, M2=SHIFT, M3=ALT, M4=CTRL -->
      <key sequence="M1+U"
           contextId="org.eclipse.jdt.ui.javaEditorScope"
           commandId="org.projectusus.ui.internal.proportions.infopresenter.ShowUsusInfo"
           schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <perspectiveShortcut
               id="org.projectusus.ui.internal.perspective.USUSPerspective">
         </perspectiveShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.pde.ui.PDEPerspective">
         <perspectiveShortcut
               id="org.projectusus.ui.internal.perspective.USUSPerspective">
         </perspectiveShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaBrowsingPerspective">
         <perspectiveShortcut
               id="org.projectusus.ui.internal.perspective.USUSPerspective">
         </perspectiveShortcut>
      </perspectiveExtension>
   </extension>
</plugin>
