<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.projectusus.core.metrics">
      <metrics
            class="org.projectusus.wip.metrics.TrainWreckCollector">
      </metrics>
   </extension>
   <extension
         point="org.projectusus.core.statistics">
      <statistics
            class="org.projectusus.wip.statistics.LinearTrainWreckStatistic">
      </statistics>
   </extension>

</plugin>
