<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.projectusus.core.statistics">
       <statistics
             class="org.projectusus.statistics.ACDStatistic">
       </statistics>
       <statistics
             class="org.projectusus.statistics.ClassSizeStatistic">
       </statistics>
       <statistics
             class="org.projectusus.statistics.CyclomaticComplexityStatistic">
       </statistics>
       <statistics
             class="org.projectusus.statistics.MethodLengthStatistic">
       </statistics>
       <statistics
             class="org.projectusus.statistics.PackageCycleStatistic">
       </statistics>
       <statistics
             class="org.projectusus.statistics.LinearClassSizeStatistic">
       </statistics>
       <statistics
             class="org.projectusus.statistics.LinearMethodLengthStatistic">
       </statistics>
       <statistics
             class="org.projectusus.statistics.LinearCyclomaticComplexityStatistic">
       </statistics>
   </extension>

</plugin>
