<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.projectusus.core.statistics">
       <statistics
             class="org.projectusus.statistics.ACDStatistic">
       </statistics>
       <!--
       <statistics
             class="org.projectusus.statistics.ClassSizeStatistic">
       </statistics>
       <statistics
             class="org.projectusus.statistics.CyclomaticComplexityStatistic">
       </statistics>
       <statistics
             class="org.projectusus.statistics.MethodLengthStatistic">
       </statistics>
       -->
       <statistics
             class="org.projectusus.statistics.PackageCycleStatistic">
       </statistics>
       <statistics
             class="org.projectusus.statistics.LinearClassSizeStatistic">
       </statistics>
       <statistics
             class="org.projectusus.statistics.LinearMethodLengthStatistic">
       </statistics>
       <statistics
             class="org.projectusus.statistics.LinearCyclomaticComplexityStatistic">
       </statistics>
       <statistics
             class="org.projectusus.statistics.PublicFieldStatistic">
       </statistics>
   </extension>
    <extension
          point="org.projectusus.core.metrics"> 
       <metrics
             class="org.projectusus.metrics.ACDCollector">
       </metrics> 
       <metrics
             class="org.projectusus.metrics.CCCollector">
       </metrics>
       <metrics
             class="org.projectusus.metrics.ClassCollector">
       </metrics>
       <metrics
             class="org.projectusus.metrics.MLCollector">
       </metrics>
       <metrics
             class="org.projectusus.metrics.PublicFieldCollector">
       </metrics>
    </extension>

</plugin>
