<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Nasty Mode"
            class="org.projectusus.nasty.ui.internal.preferences.NastyUsusPreferencePage"
            id="org.projectusus.nasty.ui.internal.preferences.NastyUsusPreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.projectusus.nasty.ui.internal.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.projectusus.nasty.ui.internal.badthings.NuclearStrikePropertyTester"
            id="org.projectusus.nasty.ui.internal.badthings.NuclearStrikePropertyTester"
            namespace="org.projectusus.nasty.ui.internal.badthings"
            properties="nuclearStrikeRunning"
            type="org.eclipse.jdt.core.IMethod">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.projectusus.nasty.ui.internal.badthings.DisarmNuclearStrike"
            id="org.projectusus.nasty.ui.internal.badthings.DisarmNuclearStrike"
            name="Disarm">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="org.projectusus.nasty.ui.internal.badthings.DisarmNuclearStrike"
               icon="icons/eview16/disarm.png"
               id="org.projectusus.nasty.ui.internal.badthings.DisarmNuclearStrike"
               label="Disarm"
               style="push">
               <visibleWhen>
                  <with variable="selection">
                     <iterate operator="and">
                        <and>
                           <instanceof value="org.eclipse.jdt.core.IMethod" />
                           <test forcePluginActivation="true"
                                 property="org.projectusus.nasty.ui.internal.badthings.nuclearStrikeRunning"
                                 value="true"/>
                        </and>
                     </iterate>
                  </with>
               </visibleWhen>
         </command>
      </menuContribution>
   </extension>
</plugin>
