<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!-- Copyright (c) 2009 by USUS contributors -->
<plugin>
  
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.projectusus.projectsettings.ui.internal.ApplyProjectSettings"
            commandId="org.projectusus.ui.projectsettings.apply">
      </handler>
      <handler
            class="org.projectusus.projectsettings.ui.internal.CopySettingsFromProject"
            commandId="org.projectusus.ui.projectsettings.copyFromProject">
      </handler>
   </extension>
   <extension point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
         <command
               commandId="org.projectusus.ui.projectsettings.apply"
               label="Apply Usus Compiler Warning Settings"
               style="push">
         </command>
         <command
               commandId="org.projectusus.ui.projectsettings.copyFromProject"
               label="Copy Settings from Project"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension point="org.eclipse.ui.commands">
      <command
            id="org.projectusus.ui.projectsettings.apply"
            name="Apply Compiler Warning Settings">
      </command>
      <command
            id="org.projectusus.ui.projectsettings.copyFromProject"
            name="Copy Settings from Project">
      </command>
   </extension>
</plugin>
