<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.actionSets">
         <actionSet
      id="org.projectusus.projectdependencies.actionSet"
   label="Project Usus Project Dependencies"
   visible="true">
      <action
         id="org.projectusus.projectdependencies.ProjectDependenciesGmlExportActionDelegate" 
         label="Export project dependencies to GML file"
         toolbarPath="Normal/additions"
         class="org.projectusus.projectdependencies.ProjectDependenciesGmlExportActionDelegate"> 
      </action>
   </actionSet> 
   </extension>
</plugin>
