<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ui.views">
       <view class="org.projectusus.ui.dependencygraph.ClassGraphView"
            icon="icons/graph-class.gif"
            id="org.projectusus.ui.dependencygraph.ClassGraphView"
            category="org.projectusus.ui.viewCategory"
            name="Usus Class Graph"/>
       <view class="org.projectusus.ui.dependencygraph.PackageGraphView"
            icon="icons/graph-package.gif"
            id="org.projectusus.ui.dependencygraph.PackageGraphView"
            category="org.projectusus.ui.viewCategory"
            name="Usus Package Graph"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.projectusus.ui.internal.perspective.USUSPerspective">
         <view
               id="org.projectusus.ui.dependencygraph.ClassGraphView"
               minimized="false"
               relationship="top"
               relative="org.projectusus.ui.internal.hotspots.HotSpotsView">
         </view>
         <view
               id="org.projectusus.ui.dependencygraph.PackageGraphView"
               minimized="false"
               relationship="stack"
               relative="org.projectusus.ui.dependencygraph.ClassGraphView">
         </view>
         <viewShortcut
               id="org.projectusus.ui.dependencygraph.ClassGraphView">
         </viewShortcut>
         <viewShortcut
               id="org.projectusus.ui.dependencygraph.PackageGraphView">
         </viewShortcut>
         <showInPart
               id="org.projectusus.ui.dependencygraph.ClassGraphView">
         </showInPart>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <showInPart
               id="org.projectusus.ui.dependencygraph.ClassGraphView">
         </showInPart>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaBrowsingPerspective">
         <showInPart
               id="org.projectusus.ui.dependencygraph.ClassGraphView">
         </showInPart>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.projectusus.ui.dependencygraph.handlers.ClearCustomFilter"
            commandId="org.projectusus.ui.dependencygraph.command.ClearCustomFilter">
         <activeWhen>
                <or>
                   <and>
                      <with
                            variable="activePartId">
                         <equals
                               value="org.projectusus.ui.dependencygraph.ClassGraphView">
                         </equals>
                      </with>
                      <with
                            variable="activeContexts">
                         <iterate
                               ifEmpty="false"
                               operator="or">
                            <equals
                                  value="org.projectusus.ui.dependencygraph.ClassGraphView.context.customFilter">
                            </equals>
                         </iterate>
                      </with>
                   </and>
                   <and>
                      <with
                            variable="activePartId">
                         <equals
                               value="org.projectusus.ui.dependencygraph.PackageGraphView">
                         </equals>
                      </with>
                      <with
                            variable="activeContexts">
                         <iterate
                               ifEmpty="false"
                               operator="or">
                            <equals
                                  value="org.projectusus.ui.dependencygraph.PackageGraphView.context.customFilter">
                            </equals>
                         </iterate>
                      </with></and>
                </or>
         </activeWhen>
      </handler>
      <handler
            class="org.projectusus.ui.dependencygraph.handlers.ShowInClassGraph"
            commandId="org.projectusus.ui.dependencygraph.command.ShowInClassGraph">
         <activeWhen>
            <with
                  variable="selection">
               <count
                     value="+">
               </count>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.projectusus.ui.dependencygraph.handlers.RefreshGraphView"
            commandId="org.projectusus.ui.dependencygraph.command.RefreshGraphView">
         <activeWhen>
            <with
                  variable="activePart">
               <instanceof
                     value="org.projectusus.ui.dependencygraph.common.DependencyGraphView">
               </instanceof>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.projectusus.ui.dependencygraph.handlers.OpenHotspotInPackageGraph"
            commandId="org.projectusus.ui.commands.OpenHotspot">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="org.projectusus.ui.internal.PackageDisplayHotspot">
                  </instanceof>
               </iterate>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.projectusus.ui.dependencygraph.handlers.HideSelectedNodes"
            commandId="org.projectusus.ui.dependencygraph.command.HideSelectedNodes">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <instanceof
                        value="org.projectusus.core.basis.GraphNode">
                  </instanceof>
               </iterate>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.projectusus.ui.dependencygraph.handlers.SaveScreenshot"
            commandId="org.projectusus.ui.dependencygraph.command.SaveScreenshot">
         <activeWhen>
            <with
                  variable="activePart">
               <instanceof
                     value="org.projectusus.ui.dependencygraph.common.DependencyGraphView">
               </instanceof>
            </with>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="Clears the currently set custom filter."
            id="org.projectusus.ui.dependencygraph.command.ClearCustomFilter"
            name="Clear custom filter">
      </command>
      <command
            id="org.projectusus.ui.dependencygraph.command.ShowInClassGraph"
            name="Show in class graph">
         <commandParameter
               id="org.projectusus.ui.dependencygraph.handlers.ShowInClassGraph.targetViewId"
               name="targetViewId"
               optional="true">
         </commandParameter>
      </command>
      <command
            description="Redraws the package dependency graph."
            id="org.projectusus.ui.dependencygraph.command.RefreshGraphView"
            name="Refresh">
      </command>
      <command
            description="Hides the selected nodes in the graph"
            id="org.projectusus.ui.dependencygraph.command.HideSelectedNodes"
            name="Hide Selected Nodes">
      </command>
      <command
            description="Save a screenshot of the current graph"
            id="org.projectusus.ui.dependencygraph.command.SaveScreenshot"
            name="Save Screenshot">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.projectusus.ui.dependencygraph.ClassGraphView?before=zoom">
         <command
               commandId="org.projectusus.ui.dependencygraph.command.HideSelectedNodes"
               style="push">
         </command>
         <command
               commandId="org.projectusus.ui.dependencygraph.command.ClearCustomFilter"
               style="push">
         </command>
         <separator
               name="org.projectusus.ui.dependencygraph.ClassGraphView.toolbar.separator"
               visible="true">
         </separator>
         <command
               commandId="org.projectusus.ui.dependencygraph.command.RefreshGraphView"
               style="push">
         </command>
         <command
               commandId="org.projectusus.ui.dependencygraph.command.SaveScreenshot"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.projectusus.ui.dependencygraph.PackageGraphView?before=zoom">
         <command
               commandId="org.projectusus.ui.dependencygraph.command.ShowInClassGraph"
               icon="icons/graph-class.gif"
               label="Show in class graph"
               style="push">
            <parameter
                  name="org.projectusus.ui.dependencygraph.handlers.ShowInClassGraph.targetViewId"
                  value="org.projectusus.ui.dependencygraph.ClassGraphView">
            </parameter>
         </command>
         <separator
               name="org.projectusus.ui.dependencygraph.PackageGraphView.toolbar.separator1"
               visible="true">
         </separator>
         <command
               commandId="org.projectusus.ui.dependencygraph.command.HideSelectedNodes"
               style="push">
         </command>
         <command
               commandId="org.projectusus.ui.dependencygraph.command.ClearCustomFilter"
               style="push">
         </command>
         <separator
               name="org.projectusus.ui.dependencygraph.PackageGraphView.toolbar.separator2"
               visible="true">
         </separator>
         <command
               commandId="org.projectusus.ui.dependencygraph.command.RefreshGraphView"
               style="push">
         </command>
         <command
               commandId="org.projectusus.ui.dependencygraph.command.SaveScreenshot"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.projectusus.ui.dependencygraph.command.ClearCustomFilter"
            icon="icons/clear-filters.gif">
      </image>
      <image
            commandId="org.projectusus.ui.dependencygraph.command.RefreshGraphView"
            icon="icons/refresh.gif">
      </image>
      <image
            commandId="org.projectusus.ui.dependencygraph.command.HideSelectedNodes"
            icon="icons/hide-node.gif">
      </image>
      <image
            commandId="org.projectusus.ui.dependencygraph.command.SaveScreenshot"
            icon="icons/save-screenshot.gif">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="org.projectusus.ui.dependencygraph.ClassGraphView.context.customFilter"
            name="org.projectusus.ui.dependencygraph.ClassGraphView.context.customFilter">
      </context>
      <context
            id="org.projectusus.ui.dependencygraph.PackageGraphView.context.customFilter"
            name="org.projectusus.ui.dependencygraph.PackageGraphView.context.customFilter">
      </context>
   </extension>
   

</plugin>
