<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ui.views">
       <view class="org.projectusus.ui.dependencygraph.ClassGraphView"
            icon="icons/graph.gif"
            id="org.projectusus.ui.dependencygraph.ClassGraphView"
            category="org.projectusus.ui.viewCategory"
            name="Usus Class Graph"/>
       <view class="org.projectusus.ui.dependencygraph.PackageGraphView"
            icon="icons/graph.gif"
            id="org.projectusus.ui.dependencygraph.PackageGraphView"
            category="org.projectusus.ui.viewCategory"
            name="Usus Package Graph"/>
   </extension>
   <extension point="org.eclipse.ui.viewActions">
      <viewContribution
            id="org.projectusus.ui.dependencygraph.viewContribution_ClassView_Refresh"
            targetID="org.projectusus.ui.dependencygraph.ClassGraphView">
         <action
               class="org.projectusus.ui.dependencygraph.action.RefreshGraphView"
               icon="icons/refresh.gif"
               id="org.projectusus.ui.dependencygraph.action.RefreshGraphView"
               label="Refresh"
               menubarPath="additions"
               style="push"
               toolbarPath="additions"
               tooltip="Redraws the class dependecy graph."/>
      </viewContribution>
      <viewContribution
            id="org.projectusus.ui.dependencygraph.viewContribution_PackageView_Refresh"
            targetID="org.projectusus.ui.dependencygraph.PackageGraphView">
         <action
               class="org.projectusus.ui.dependencygraph.action.RefreshGraphView"
               icon="icons/refresh.gif"
               id="org.projectusus.ui.dependencygraph.action.RefreshGraphView"
               label="Refresh"
               menubarPath="additions"
               style="push"
               toolbarPath="additions"
               tooltip="Redraws the class dependecy graph.">
         </action>
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.projectusus.ui.internal.perspective.USUSPerspective">
         <view
               id="org.projectusus.ui.dependencygraph.ClassGraphView"
               minimized="false"
               relationship="stack"
               relative="org.projectusus.ui.internal.history.HistoryView">
         </view>
         <view
               id="org.projectusus.ui.dependencygraph.PackageGraphView"
               minimized="false"
               relationship="stack"
               relative="org.projectusus.ui.dependencygraph.ClassGraphView">
         </view>
      </perspectiveExtension>
   </extension>
   

</plugin>
